nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  
  background: #242526;
}
nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: #3A3B3C;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #f2f2f2;
}
.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}
@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}
.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}
html{
  scroll-behavior: smooth;
}

.banner{
 margin-top: 100px;
}
@media screen and (min-width: 480px) {
  .banner{   
    margin-top: 90px;
  }
}
.navbar-dark{
  background:#203264;
}
.lgt{
  width: 106px;
  margin-top:10px;
}
@media screen and (min-width: 480px) {
.lgt{
    width: 90px;
}
}
.tdetail{
  text-align: center; font-weight: 400; color: gray; padding-top: 0px; font-size: 15px;
}
@media screen and (min-width: 480px) {
.tdetail{
  text-align: center; font-weight: 400; color: gray; padding-top: 40px; font-size: 20px;
}
}
.ytyt{
  margin-top: -20px;
}
@media screen and (min-width: 480px) {
.ytyt{
  margin-top: 0px;
}
}
.yparti{
  text-align: center; font-weight: bolder;  padding: 0px; font-size: 30px; color: #203264;
}
@media screen and (min-width: 480px) {
.yparti{
  text-align: center; font-weight: bolder;  padding: 0px; font-size: 60px; color: #203264;
}
}
.lgcydesc{
  padding: 20px 20px; font-size: 16px;
}
@media screen and (min-width: 480px) {
.lgcydesc{
  padding: 20px 20px; font-size: 19px;
}
}
.lgcy{
  padding: 20px; font-size: 45px; font-weight: bolder;
  background: -webkit-linear-gradient(#203264, #7b2376);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 480px) {
.lgcy{
  padding: 20px; font-size: 80px; font-weight: bolder;
}
}
.establish{
  color: gray; font-weight: 400; padding-left: 20px; font-size: 15px;
}
@media screen and (min-width: 480px) {
  .establish{
  color: gray; font-weight: 400; padding-left: 20px; font-size: 25px;
}
}
.PTTL{
  color: #203264; padding: 20px 20px 0px 20px; margin-top: 0px; font-size: 24px;
}
@media screen and (min-width: 480px) {
  .PTTL{
  color: #203264; padding: 20px 20px 0px 20px; margin-top: 40px; font-size:35px;
}
}
.hhi{
  border:1px solid gray; height: 70px; width: 1px; margin-top: -30px;
}
@media screen and (min-width: 480px) {
.hhi{
  border:1px solid gray; height: 70px; width: 1px; margin-top: -70px;
}
}
.rteams{
  text-align: center; color: #203264; font-size: 45px; font-weight: bold;
}
@media screen and (min-width: 480px) {
.rteams{
  text-align: center; color: #203264; font-size: 60px; font-weight: bold;
}
}
.rls{
  font-size: 17px;
}
@media screen and (min-width: 480px) {
.rls{
   font-size: 18px;
}
}
.rules{
  font-weight: bold; font-size: 45px;padding-left: 20px; color: #203264;
}
@media screen and (min-width: 480px) {
.rules{
   font-weight: bold; font-size: 60px;padding-left: 20px; color: #203264;
}
}
.tourdet{
  padding-left: 20px; color: gray; font-weight: 400; font-size: 20px;
}
@media screen and (min-width: 480px) {
.tourdet{
   padding-left: 20px; color: gray; font-weight: 400; font-size: 24px;
}
}
.ulti{
  text-align: center; font-size: 45px;color: #203264;
}
@media screen and (min-width: 480px) {
.ulti{
   text-align: center; font-size: 60px;color: #203264;
}
}
.ultidesc{
  text-align: center; color: #203264; font-size: 17px; padding: 0px 30px;
}
@media screen and (min-width: 480px) {
.ultidesc{
  text-align: center; color: #203264; font-size: 20px; padding: 0px 30px;
}
}
.nav-item{
  font-size: 20px;
  padding: 10px;
}
.nav-link:hover{
  
  border-bottom: 2px solid blue;
  color: white;
}
.gallery{
  
  overflow: hidden;
  border: 3px solid #3d4a9c;

}
.mainimg:hover{
  transition-duration: 0.5s;
  transform: scale(1.2); 
  
}
.card:hover{
  transition-duration: 0.5s;
  transform: scale(1.2); 
}
.card1:hover{
  background: #203264;
  cursor: pointer;
  color: white;
    transition-duration: 0.5s;
  transform: scale(1.06);
}
.vdmobslider{
  display: block;
  margin-top: -15px;
}
@media screen and (min-width: 480px) {
.vdmobslider{
    display: none;
}
}
.vdslider{
  display: none;
}
@media screen and (min-width: 480px) {
.vdslider{
    display: block;
}
}
.probeg{
  text-align: center; font-size: 30px; font-weight: bold;
}
@media screen and (min-width: 480px) {
.probeg{
  text-align: center; font-size: 80px; font-weight: bold;
}
}
.msgico{
  width: 40px;
 
}
@media screen and (min-width: 480px) {
  .msgico{
    width: 80px;
}
}
#demo{
   text-align: center;
    font-size: 19px;
    color: #b7b7b7;
    padding: 7px;
}
@media screen and (min-width: 480px) {
#demo{
   text-align: center;
    font-size: 28px;
    color: #b7b7b7;
    padding: 7px;
}
}
.legend:hover{
    transition-duration: 0.5s;
  transform: scale(1.06);
}
.play:hover{
  background: #010833;
  color: white;
      transition-duration: 0.5s;
  transform: scale(1.06);
}
.whocanplay{
  font-weight: bold; font-size: 45px;padding-left: 20px; color: #203264;
}
@media screen and (min-width: 480px) {
.whocanplay{
  font-weight: bold; font-size: 60px;padding-left: 20px; color: #203264;
}
}
.smash{
  display: block;
}
@media screen and (min-width: 480px) {
.smash{
    display: none;
}
}
.cel{
  text-align: center;
}
.celpg{
  padding: 10px;
  text-align: center;
  font-size: 12px;
  
}
.celpg:hover{
  font-weight: bold;
  
  transition-duration: 1s;
}
.gallery2{
  margin-bottom: 10px;
  overflow: hidden;

}

.counter{
    margin-top: 55px;
}
.counter .pCenter{
    padding-top: 10px;
    color: #b7b7b7;
    font-size: 20px;;
}
.caption{
    text-align: center;
    font-size: 22px;
    color: #b7b7b7;
    padding: 7px;
}

#appReady{
    color: white;
    font-size: 20px;
    padding: 15px 40px;
    border-radius: 15px;
    border: none;
    outline: none;
    margin: 12px;
    background-color: #9a9a9a;
}
#appReady:hover{
    color: white;
    font-size: 20px;
    padding: 15px 40px;
    border-radius: 15px;
    border: none;
    outline: none;
    margin: 12px;
    transition-duration: 1s;
    background-color: #203264;
}
#teamApp{
    color: white;
    font-size: 25px;
    padding: 15px 25px;
    border-radius: 25px;
    border: none;
    outline: none;
    margin: 20px;
    background-image: linear-gradient(#07143ade, #4150af);
}

.faq{
    margin: 60px auto;
    margin-bottom: 30px;
    margin-top: 0px;
}
.topmob{
  display: block;
  margin-top:100px;
}
@media screen and (min-width: 480px) {
.topmob{
    display: none;
}
}
.banner{
  display: none;
}
@media screen and (min-width: 480px) {
.banner{
    display: block;
}
}
.faqs{
    width: 90%;
    padding: 5px 10px;
    margin: 20px auto;
    background-color: lightgray;
    text-align: left;
    font-size: 15px;
  
    border-radius: 10px;
    color: black;

}
@media screen and (min-width: 480px) {
.faqs{
   width: 70%;
    padding: 5px 10px;
    margin: 20px auto;
    background-color: lightgray;
    text-align: left;
    font-size: 15px;
    color: black;
    border-radius: 10px;


}
}
.digit{
    font-size: 45px;
    color: #383838 ;
    text-align: center;
}

.footer{
  background: #010833;
  padding-bottom: 0px;
}
.list{
  list-style: none;
  text-align: left;
}
.list li{
  color: white;
}
.head{
  color: cyan;
}
.icons{
    font-size: 23px;
    float: left;
    padding-right: 15px;
    padding-bottom: 7px;
}
@media screen and (min-width: 480px) {
.icons {
  font-size: 23px;
}
}
.t1{
  margin-left: 0px;
}
@media screen and (min-width: 480px) {
  .t1{
    margin-left: 30px;
  }
}
.t2{
  margin-left: 0px;
}
@media screen and (min-width: 480px) {
  .t2 {
    margin-left: 35px;
  }
}
.t3{
  margin-left: 0px;
}
@media screen and (min-width: 480px) {
  .t3 {
  margin-left: 20px;
  }
}
.t4{
  margin-left: 0px;
}
@media screen and (min-width: 480px) {
  .t4{
    margin-left: 0px;
  }
}
.t5{
  margin-left: 0px;
}
@media screen and (min-width: 480px) {
  .t5{
    margin-left: 15px;
  }
}
.t6{
  margin-left: 0px;
}
@media screen and (min-width: 480px) {
  .t6{
    margin-left: 10px;
  }
}
.t7{
  margin-left: 0px;
}
@media screen and (min-width: 480px) {
  .t7{
    margin-left: -10px;
  }
}
.t8{
  margin-left: 0px;
}
@media screen and (min-width: 480px) {
  .t8{
    margin-left: -33px;
  }
}
.t9{
  margin-left: 0px;
}
@media screen and (min-width: 480px) {
  .t9{
    margin-left: -60px;
  }
}
.t10{
  margin-left: 0px;
}
@media screen and (min-width: 480px) {
  .t10{
    margin-left: 0px;
  }
}
.typewriter{
  color: black;
}
@media screen and (min-width: 480px) {
.typewriter  {
  color: black;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


#fixedbutton {
    position: fixed;
    bottom: 260px;
    right: 0px; 
    width: 90px;
    height: 90px;
}
@media screen and (min-width: 480px) {
#fixedbutton{
    position: fixed;
    bottom: 260px;
    right: 0px; 
    width: 160px;
    height: 160px;
  }
}

